<div id="ticket">
    <h1><%= @project.name %></h1>
    <h2><%= @ticket.name %></h2>
    <p><%= @ticket.description %></p>
    <p>Author: <%= @ticket.author.email %></p>
    <p>Created: <%= time_ago_in_words(@ticket.created_at) %> ago</p>
    <% if policy(@ticket).update? %>
    <p><%= link_to "Edit Ticket", edit_project_ticket_path(@project, @ticket), class: "edit" %></p>
    <% end %>
    <% if policy(@ticket).destroy? %>
    <p><%= link_to "Delete Ticket", project_ticket_path(@project, @ticket), method: :delete, data: {confirm: 'Delete this '+@ticket.name+' ticket?'} %></p>
    <% end %>
</div>
