<div id="ticket">
    <h1><%= @project.name %></h1>
    <h2><%= @ticket.name %></h2>
    <p><%= @ticket.description %></p>
    <p><%= link_to "Edit Ticket", edit_project_ticket_path(@project, @ticket), class: "edit" %></p>
    <p><%= link_to "Delete Ticket", project_ticket_path(@project, @ticket), method: :delete, data: {confirm: 'Delete this '+@ticket.name+' ticket?'} %></p>
</div>
